[x-cloak] { 
    display: none !important; 
}

.mobile-view { 
    display: flex; 
}

.desktop-view { 
    display: none; 
}

@media (min-width: 768px) {
    .mobile-view { 
        display: none !important; 
    }
    .desktop-view { 
        display: flex !important; 
    }
}